<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/admin.css" />
    <title>Admin Dashboard</title>
    <meta name="author" content="Valumetrics">    
    <link rel="shortcut icon" href="/img/favicon.ico">
    
</head>
<body>
    <header>
        <a href='/'><img src="./logob.png" alt="Logo" width="250px"></a>
    </header>
    <h1>Admin Dashboard</h1>
    <div class="container">
        <form action="/admin" method="POST">
            <p>Add Company</p>
            <input type="hidden" name="formType" value="add-company">
            <label for="ticker">Ticker (e.g. AAPL):</label>
            <input type="text" id="ticker" name="ticker" required>
            <label for="domain">Company Website</label>
            <input type="text" id="domain" name="domain" required>
                <input type="submit" value="Add" class="input">            
        </div>

        </form>          
            <div class="container">
              <form action="/admin" method="POST" enctype="multipart/form-data">
                <p>Add Document</p>
                <input type="hidden" name="formType" value="add-document">
                <label for="company_id">Company ID:</label>
                <input type="text" id="company_id" name="company_id" required>
                <label for="document_type">Document Type:</label>
                <input type="text" id="document_type" name="document_type" required>
                 <label for="year">Year:</label>
                <input type="text" id="year" name="year" required>
                <label for="file">File:</label>
                <input type="file" id="file" name="file" required>
                <div class="button-container">
                  <input type="submit" value="Upload" class="input">
                </div>
              </form>
            </div>
          </div>
          {{#if successMessage}}
        <div class="alert alert-success">{{successMessage}}</div>
          {{/if}}
          
    </div>

<table class="companies">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ticker</th>
    </tr>
  </thead>
  <tbody>
    {{#each tableData}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.ticker}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>



    
</body>
</html>